body,
ul {
  margin: 0;
  padding: 0;
}

header {
  background-color: #1d1c2c; /* Kolor tła nagłówka */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Cień pod nagłówkiem */
}

nav {
  width: 100%; /* Szerokość nawigacji */
}

nav ul {
  display: flex; /* Ustawienie elementów obok siebie */
  justify-content: space-around; /* Równomierne rozmieszczenie */
  list-style: none; /* Usunięcie punktów z listy */
  padding: 10px 0; /* Odstęp w pionie */
  border-bottom: 2px solid #ccc; /* Dolna ramka pod zakładkami */
}

nav li {
  margin: 0 10px; /* Odstęp między zakładkami */
}

nav a {
  text-decoration: none; /* Usunięcie podkreślenia z linków */
  color: #e5dddd; /* Kolor tekstu */
  font-weight: bold; /* Pogrubienie tekstu */
}

nav a:hover {
  color: #007bff; /* Kolor tekstu po najechaniu */
  border-bottom: 2px solid #007bff; /* Kolor dolnej ramki po najechaniu */
  border-radius: 4px; /* Zaokrąglenie rogów tła */
}

nav li.active a {
  color: #007bff; /* Kolor tekstu aktywnej zakładki */
  border-bottom: 2px solid #007bff; /* Ramka dolna dla aktywnej zakładki */
  border-radius: 4px; /* Zaokrąglenie rogów tła */
}

.changeThemeButton {
  border-radius: 10px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
}

.home-description {
  display: flex;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 450px;
}

.home-description-name {
  display: flex;
  font-size: 45px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 380px;
}

.home-description-copy {
  display: flex;
  font-size: 15px;
  color: red;
  line-height: 1.5;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 450px;
}
